scikit-plot==0.3.7
scikit-learn==1.1.2
TA-Lib==0.4.25
yfinance==0.2.22
pandas==1.5.3
pandas-datareader==0.10.0
matplotlib==3.5.3
numpy==1.23.5
scipy==1.9.1
missingno==0.5.1
seaborn==0.12.0
plotly==5.11.0
fastparquet==0.8.3
pyarrow==9.0.0
plotly-resampler==0.8.3.2
tqdm==4.64.0